:root {
    --bg-color1: #4d6174;
    --bg-color2: #3e4141;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-color: var(--bg-color1); */
    background-image: url(../imgs/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
}

/* header */
.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    padding: 20px 20px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid black;

    & #city-input {
        background-color: var(--bg-color2);
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 10px;
        color: #fff;
        width: 400px;
        & :focus {
            outline: none;
        }
    }

    & #searchBtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 10px;
        background-color: #927a7a;
        cursor: pointer;
    }
    

    & #locationBtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 10px;
        background-color: #ea6e4b;
        cursor: pointer;

    }
}

.toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}


.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 40px; 
    height: 20px;
    border-radius: 20px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(18px);
}

.fa-moon {
    font-size: 10px;
    color: #f1c40f;
}

.fa-sun {
    font-size: 10px;
    color: #f39c12;
    /* margin-left: 5px; */
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    /* background-color: #fff; */
}


.card {
    background-color: var(--bg-color2);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 15px;

    & p {
        font-size: 14px;
        color: #fff;
    }

    & h2 {
        font-size: 32px;
        font-weight: 500;
        margin-left: 50px;
    }
}


.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    & .weather-left {
        grid-column: span 4;
        & .current-weather {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                margin: 10px 0;
                font-size: 54px;
            }

            & p {
                color: #fff;
            }
        }

        & .weather-icon img {
            width: 200px;
            height: 200px;
            color: #fff;
        }

        & .card-footer p {
            font-size: 18px;
            color: white;
            margin-bottom: 12px;
            margin-top: 10px;
        }

        & .forecast-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            margin-bottom: 15px;

            & .icon-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    & .weather-right {
        grid-column: span 4;
        & h2 {
            margin-bottom: 10px;
        }

        & .hightlights {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;
            
            & .card:nth-child(1),
            & .card:nth-child(2) {
                grid-column: span 2;
            }
            & .card-head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                & .air-index {
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 15px;
                    & .aqi-1 {
                        background-color: #d4e157;
                    }

                    & .aqi-2 {
                        background-color: #ffee58;
                    }

                    & .aqi-3 {
                        background-color: #ffca28;
                    }

                    & .aqi-4 {
                        background-color: #ffca28;
                    }

                    & .aqi-5 {
                        background-color: #ff7043;
                    }
                }
            }

            & .air-indices {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;

                & p {
                    text-align: center;
                }
            }

            & .sunrise-sunset {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                & .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            & .card-item {
                display: flex;
                justify-content: space-between;
            }
        }
        
        & .hourly-forecast {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 10px;

            & .card {
                text-align: center;
            }
        }
    }
}

#map {
    height: 100vh;
}


/* responsive */


@media (max-width: 1100px) {
    .weather-data {
        grid-template-columns: repeat(3, 1fr);

        & .weather-right {
            grid-column: span 2;

            & .hightlights {
                grid-template-columns: repeat(3, 1fr);

                & .card:nth-last-of-type(1) {
                    grid-column: span 3;
                }
            }
            & .hourly-forecast {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

@media (max-width: 1040px) {
    .weather-data {
        grid-template-columns: repeat(2, 1fr);

        & .weather-right {
            grid-column: span 1;

            & .hightlights {
                grid-template-columns: repeat(2, 1fr);

                & .card:nth-last-of-type(1) {
                    grid-column: span 2;
                }
            }
            & .hourly-forecast {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (max-width: 992px) {
    .weather-data .weather-right .hightlights {
        & .card {
            grid-column: span 2;
        }

        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 850px) {
    .weather-data {
        grid-template-columns: 1fr;
    }

    & .weather-right .hightlights {
        & .card:nth-last-of-type(3),
        & .card:nth-last-of-type(4),
        & .card:nth-last-of-type(5),
        & .card:nth-last-of-type(6),
        & .card:nth-last-of-type(7) {
            grid-column: span 1;
        }

        & .air-indices {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media (max-width: 660px) {
    .header {
        flex-direction: column;

        & h2 {
            margin-bottom: 8px;
        }

        & #city-input, #searchBtn, #locationBtn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 580px) {
    .weather-data .weather-right .hightlights .air-indices {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 520px) {
    .weather-data .weather-right .hightlights {
        & .card:nth-last-of-type(3),
        & .card:nth-last-of-type(4),
        & .card:nth-last-of-type(5),
        & .card:nth-last-of-type(6),
        & .card:nth-last-of-type(7) {
            grid-column: span 2;
        }

        & .air-indices {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media (max-width: 480px) {
    .weather-data .weather-right .hightlights .sunrise-sunset .forecast-item  {
        grid-template-columns: 1fr;
        
    }

    .card {
        width: 100%;
    }

    .card .current-weather .details h2 {
        font-size: 40px;
    }

    .card .current-weather  .weather-icon img {
        width: 150px;
        height: 150px;
    }

    .weather-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    
}

@media (max-width: 450px) {
    .weather-data .weather-right .hourly-forecast {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 380px) {
    .weather-data .weather-right .hightlights .air-indices {
        grid-template-columns: repeat(2, 1fr);
    }
}
